baseURL: https://hamza-tam.gitlab.io/ensias-doc/
languageCode: en-us
title: ENSIAS Doc
theme: custom-cupper

params:
  description: The non official documentation of ENSIAS.
  katex: true
  footer: Developped by [Hamza Tamenaoul](https://hamza-tam.gitlab.io/), using [Hugo](https://gohugo.io/) and [Cupper Theme](https://github.com/zwbetz-gh/cupper-hugo-theme).

taxonomies:
  tag: tags
  club: clubs

menu:
  nav:
    - name: Home
      url: /
      weight: 1
    - name: Tutorials
      url: /post/
      weight: 2
    - name: Tags
      url: /tags/
      weight: 3
    - name: Clubs
      url: /clubs/
      weight: 4
    - name: FAQ
      url: /faq/
      weight: 4

markup:
  defaultMarkdownHandler: goldmark
  goldmark:
    extensions:
      definitionList: true
      footnote: true
      linkify: true
      strikethrough: true
      table: true
      taskList: true
      typographer: true
    parser:
      attribute: true
      autoHeadingID: true
    renderer:
      hardWraps: false
      unsafe: true
      xHTML: false
  highlight:
    codeFences: false
    hl_Lines: ""
    lineNoStart: 1
    lineNos: false
    lineNumbersInTable: true
    noClasses: true
    style: monokai
    tabWidth: 4
  tableOfContents:
    endLevel: 6
    startLevel: 2
